@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'expo';
    src: url('https://www.fontstatic.com/fonts/flat-jooza/flat-jooza-regular.eot?#iefix');
    src: local('جذور مسطح'), local('flat-jooza'), url('https://www.fontstatic.com/fonts/flat-jooza/flat-jooza-regular.woff') format('woff');
}

.wrapper {
    @apply container max-w-7xl mx-auto px-4;
}

.swiper-pagination-bullet{
    @apply bg-primary;
}